<form [formGroup]="forma" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <table class="center">
        <tr>
            <td colspan="2">
                <h3 class="table_heading">PRIJAVITE SE</h3> 
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Unesite korisnicko ime</mat-label>
                    <input matInput formControlName="kor_ime">
                    <mat-error *ngIf="myError('kor_ime', 'required')">Korisnicko ime je obavezno polje!</mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Unesite lozinku</mat-label>
                    <input type='password' matInput formControlName="lozinka">
                    <mat-error *ngIf="myError('lozinka', 'required')">Lozinka je obavezno polje!</mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="padd_but" type="submit" mat-raised-button color="primary" [disabled]="!forma.valid" (click)="login()">PRIJAVI SE</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div *ngIf='showAlertErr==true'>
                    <div class="alert alert-danger" role="alert">
                        {{message}} 
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
