.container{
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.preduzeca {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.preduzeca td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; 
}
  
.preduzeca tr:nth-child(even) {
    background-color: #dddddd;
}

.planine{
    text-transform: capitalize;
}

#grb{
    text-align: center;
}