.bg{
    background-color: rgb(241, 246, 246);
}
.container{
    margin-top: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    /* background-color: rgb(241, 246, 246); */
}

.padd{
    padding-top: 20px;
    padding-bottom: 20px;
}
.headline{
    font-weight:bold;
    font-size:2em;
    font-family: 'Poppins', sans-serif;
}

.tabela{
    text-align: justify;
}