<app-meni-classic></app-meni-classic>
<div class="container">
    <div class="row top-buffer justify-content-md-center">
        <div class="col-sm-6">
            <h3>MOJI PODACI</h3>
            <table class="admin" >
                <tr>
                    <td>Ime i prezime:</td>
                    <td>{{ulogovan.ime_prezime}}</td>
                </tr>
                <tr>
                    <td>Korisničko ime:</td>
                    <td>{{ulogovan.kor_ime}}</td>
                </tr>
                <tr>
                    <td>Telefon:</td>
                    <td>{{ulogovan.telefon}}</td>
                </tr>
            </table>  
        </div>
    </div>
</div>
